.u-container {
    width: 100vw;
}

.user-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
}

.profile-img {
    width: 1rem;
    margin-right: 1rem;
}

table {
    width: 95%;
    margin-right: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    overflow: hidden;
    border-radius: 2rem;
    border: 1px solid var(--hr);
    background-color: var(--thirdColor);
}

table tr {
    background-color: transparent;
    cursor: pointer;
    transition: .2s;
}

th {
    color: var(--fourthColor);
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    padding-left: 1rem;
    padding-block: 1rem;
    border: none;
    transition: .5s;
    border-bottom: 1px solid var(--hr);
}

td:last-child {
    text-align: right;
}

td {
    background-color: transparent;
    margin-left: 1rem;
    font-weight: bold;
    padding: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid var(--hr);
}

img {
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
    object-fit: cover;
}

h4 {
    font-size: 1.2rem;
    padding: 0;
    margin: .2rem;
    color: var(--fourthColor);
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--fifthColor);
}

.name {
    font-size: 1.1rem;
    color: #3a86ff;
}

.edit,
.delete,
.profile {
    opacity: .5;
    font-size: 2rem !important;
    transition: .5s;
}

.edit,
.profile {
    color: var(--fifthColor);
}

.delete {
    color: red;
}

.edit:hover,
.delete:hover,
.profile:hover {
    opacity: 1;
}

.update-panel {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 20rem;
    height: 15rem;
    top: 50%;
    left: 50%;
    border: 1px solid var(--hr);
    background-color: var(--thirdColor);
    border-radius: 2rem;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.panel {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 30rem;
    top: 50%;
    left: 50%;
    border: 1px solid var(--hr);
    background-color: var(--thirdColor);
    border-radius: 2rem;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.panel.open {
    display: flex;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.title h2 {
    color: var(--fourthColor);
}

.ekleme-paneli {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-block: 3rem;
}

input {
    padding: .5rem;
    border: 1px solid var(--hr);
    border-radius: 1rem;
    color: var(--fourthColor);
    background-color: var(--thirdColor);
}

#addRegionButton {
    border: 1px solid var(--blue);
    border-radius: .5rem;
    background-color: transparent;
    color: var(--blue);
    padding: .5rem;
}

.button-group {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    padding: .3rem;
    bottom: 0;
}

.add-btn {
    margin: 0;
    width: 50%;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    background-color: transparent;
    color: var(--blue);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.cancel-btn {
    margin: 0;
    width: 50%;
    padding: 1rem;
    border-bottom-right-radius: 2rem;
    background-color: transparent;
    color: red;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.tab-container-remove {
    display: none;
}